
body{padding: 5em; background-color: #fff3e6;}

h1,h2{text-align: center;}
p
p{width:750px; color: }
/*The next rule centers and spaces the media*/
img, video, audio, canvas, p{
    display: block; 

    padding-bottom: 2em}
h1{color:#5c2c27;
background-color: white}
p{color:#5c2c27;
        font-size:20px;}
a{color:#5c2c27;
    font-family: Spectral;
    font-size:20}
h2{color: #5c2c27;}
